@tailwind base;
@tailwind components;
@tailwind utilities;
#bg-1 {
  background-image: url("./src/assets/Backgrounds/Random_User.png");
  width: 100%;
}
#bg-2 {
  background-image: url("./src/assets/Backgrounds/Random_Jokes.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
